{% extends "core/base.html" %}
{% load static %}

{% block title %}Publicidad Redes Sociales | mbSocialWeb{% endblock %}
{% block description %}mbSocialWeb publicidad en redes sociales y social media marketing, te ayudamos a conseguir la máxima rentabilidad.{% endblock %}

<!-- Metadatos para Facebook -->
{% block facebookimage %}/static/core/img/nosotros/mbsocialweb-redes-sociales.png{% endblock %}
{% block facebooktitle %}Publicidad Redes Sociales | mbSocialWeb{% endblock %}
{% block facebookdescription %}mbSocialWeb publicidad en redes sociales y social media marketing, te ayudamos a conseguir la máxima rentabilidad.{% endblock %}

<!-- Metadatos para Twitter -->
{% block twitterimage %}/static/core/img/nosotros/mbsocialweb-redes-sociales.png{% endblock %}
{% block twittertitle %}Publicidad Redes Sociales | mbSocialWeb{% endblock %}
{% block twitterdescription %}mbSocialWeb publicidad en redes sociales y social media marketing, te ayudamos a conseguir la máxima rentabilidad.{% endblock %}

{% block csspage %}<link rel="stylesheet" href="{% static 'core/css/marketing-digital.css' %}">{% endblock %}
{% block recaptcha %}<script src="https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}"></script>{% endblock recaptcha %}

{% block grecaptcha %}
  <script>
    //global grecaptcha
    grecaptcha.ready(function() {
      grecaptcha.execute('{{recaptcha_site_key}}', {action: "/appsfb/"}).then(function(token) {
        document.getElementById('g-recaptcha-response2').value = token;
      });
    });
  </script>{% endblock grecaptcha %}

{% block content %}
<div class="cabecera">
  <svg width="600" height="100" viewBox="-100 -27 600 100"
       xmlns="http://www.w3.org/2000/svg" class="figura-top-right">
    <defs>
      <linearGradient id="b" x1="2454" x2="5472" y1="7787" y2="13013"
                      gradientUnits="userSpaceOnUse">
        <stop stop-color="#babdb6" offset="0" />
        <stop stop-color="#999" offset="1" />
      </linearGradient>
    </defs>
    <g transform="matrix(1.7242 0 0 1.7242 -79.473 128.62)" fill-rule="evenodd"
       stroke-linejoin="round" stroke-width="28.222">
      <g transform="matrix(.018751 0 0 .018751 13.297 -213.09)">
        <path d="m1978 8166-17 1-17 3-16 5-16 6-15 8-15 10-14 11-13 12-12 13-11 14-10 15-8 15-6 16-5 16-3 17-1 17v4110l1 17 3 16 5 17 6 16 8 15 10 15 11 14 12 13 13 12 14 11 30 18 16 6 16 5 17 3 17 1h3969l17-1 17-3 16-5 16-6 16-9 15-9 14-11 13-12 12-13 11-14 18-30 6-16 5-17 3-16 1-17v-4110l-1-17-3-17-5-16-6-16-18-30-11-14-12-13-13-12-14-11-15-10-16-8-16-6-16-5-17-3-17-1z"
              fill="url(#b)" />
        <path d="m1978 8166c-90 0-179 89-179 179v4110c0 89 89 179 179 179h3969c90 0 180-90 180-179v-4110c0-90-90-179-180-179z"
              fill="none" stroke="#808080" stroke-linejoin="round" stroke-width="100" />
      </g>
      <g transform="matrix(.018751 0 0 .018751 13.297 -213.09)">
        <path d="m3775 8676c-97 0-194 97-194 194v633c0 97 97 195 194 195h504c97 0 195-98 195-195v-633c0-97-98-194-195-194zm-194 0zm893 1022z"
              fill="#fff" />
        <path d="m3775 8676c-97 0-194 97-194 194v633c0 97 97 195 194 195h504c97 0 195-98 195-195v-633c0-97-98-194-195-194z"
              fill="none" stroke="#808080" stroke-linejoin="round" stroke-width="100" />
      </g>
      <g transform="matrix(.018751 0 0 .018751 13.297 -213.09)">
        <path d="m3775 11101c-97 0-194 97-194 194v633c0 97 97 195 194 195h504c97 0 195-98 195-195v-633c0-97-98-194-195-194zm-194 0zm893 1022z"
              fill="#fff" />
        <path d="m3775 11101c-97 0-194 97-194 194v633c0 97 97 195 194 195h504c97 0 195-98 195-195v-633c0-97-98-194-195-194z"
              fill="none" stroke="#808080" stroke-linejoin="round" stroke-width="100" />
      </g>
      <g transform="matrix(.018751 0 0 .018751 13.297 -213.09)">
        <path d="m1800 10464h636v-383h764v255h2036v-255h764v255h127" fill="none"
              stroke="#808080" stroke-linejoin="round" stroke-width="100" />
      </g>
      <g transform="matrix(.018751 0 0 .018751 13.297 -213.09)">
        <path d="m6e3 7400v6e3h5982l2036-1532h3182v-3064h-3436l-1909-1404z"
              fill="#181818" />
        <path d="m6e3 7400v6e3h5982l2036-1532h3182v-3064h-3436l-1909-1404z" fill="none"
              stroke="url(#orange-to-purple)" />
      </g>
      <g transform="matrix(.018751 0 0 .018751 13.297 -213.09)">
        <path d="m7486 8549c-298 0-595 297-595 595v2384c0 298 297 596 595 596h3646c298 0 596-298 596-596v-2384c0-298-298-595-596-595zm-595 0zm4837 3575z"
              fill="url(#orange-to-purple)" />
        <path d="m7486 8549c-298 0-595 297-595 595v2384c0 298 297 596 595 596h3646c298 0 596-298 596-596v-2384c0-298-298-595-596-595z"
              fill="none" stroke="#29d0be" stroke-linejoin="round" stroke-width="100" />
      </g>
    </g>
  </svg>

  <header class="page-header">
    <h1>Publicidad Redes Sociales</h1>

    <div class="page-intro">
      <p>
        <span class="text-gradient-3 f-bold">La publicidad en redes sociales se ha convertido en una de las estrategias
          de marketing más efectivas en la actualidad.</span> Con una audiencia cada vez más amplia en plataformas como
          Facebook, Instagram, Twitter y LinkedIn, las marcas están aprovechando estas redes para llegar a su público
          objetivo de manera más precisa y eficiente.
      </p>

      <p>
        Una de las <span class="text-gradient-3 f-bold">ventajas de la publicidad en redes sociales es que permite segmentar el público objetivo en función
        de diferentes criterios, como edad, género, ubicación geográfica, intereses y comportamientos.</span> Esto
        significa que las marcas pueden llegar a las personas que realmente importan para ellas, reduciendo los costos y
        aumentando la eficacia de sus campañas.
      </p>
    </div>

    <svg viewBox="0 0 100 20" class="header-line-only-purple">
      <path d="M 0 20 L 90 20 Q 100 20 100 10 L 100 -6">
      </path>
    </svg>
  </header>
</div>

<!-- Llamada a la acción -->
<p class="center-align pt-2 mt-4">
  <a data-target="modal1" class="button-mb modal-trigger">Solicita Presupuesto</a>
</p>

<!-- CONTENIDO PRINCIPAL -->
<main>
  <section class="section social-ads pb-0">
    <br>
    <div class="row mb-line mb-0">
      <div class="col s12 text-gris">
        <p class="mb-1">
          La publicidad en redes sociales permite medir el rendimiento de las campañas en tiempo real, lo que permite
          a las marcas ajustar su estrategia según los resultados. Esto es especialmente útil para las pequeñas y
          medianas empresas, que pueden competir con las grandes marcas en igualdad de condiciones gracias a estas
          herramientas.
        </p>
        <p>
          Otra ventaja de la publicidad en redes sociales es que permite a las marcas crear contenido atractivo e
          interactivo para su audiencia. <span class="text-gradient f-bold">Las redes sociales son una excelente plataforma para generar engagement, ya
          que los usuarios están acostumbrados a interactuar con el contenido y a compartirlo con sus amigos y
          seguidores.</span>
        </p>
      </div>
    </div>

    <div class="row mb-line mb-0">
      <ul class="collapsible text-black" data-collapsible="expandable">
        <!-- Facebook -->
        <li>
          <div class="collapsible-header active">
            <i class="fab fa-facebook-square text-gradient-purple"></i>
            <span class="text-gradient-4">Facebook Ads</span>
            <i class="material-icons text-cyan">add</i>
          </div>

          <div class="collapsible-body">
            <p>
              Creamos campañas publicitarias en Facebook Ads segmentando a tu público y
              dirigidas a cumplir el objetivo que más se ajuste a tu negocio: conseguir
              más visitas de clientes potenciales en tu sitio web, más me gusta en tu
              página, reconocimiento de marca, conversiones en el sitio web.
            </p>
            <p class="mb-2">
              <span class="text-gradient">Principales formatos</span>
            </p>

            <div class="ads-grid">
              <div class="item--ads">
                <div class="item-header-ads">
                  <div><img
                         src="{% static 'core/img/marketingDigital/imagen-anuncio-en-facebook-mbsocialweb-marketing-digital.png' %}"
                         alt=""></div>
                  <h5 class="title-ads center-align rubik">Foto</h5>
                </div>

                <div class="item-content-ads">
                  <p class="uppercase f-bold mb-1">¿Cuándo te conviene usar los anuncios
                    con foto?</p>
                  <p><i class="tiny material-icons">stop</i>Cuando quieres atraer a
                    personas a tu sitio web.</p>
                  <p><i class="tiny material-icons">stop</i>Cuando quieres dar a conocer
                    tus productos.</p>
                </div>
              </div>

              <div class="item--ads">
                <div class="item-header-ads">
                  <div><img
                         src="{% static 'core/img/marketingDigital/secuencia-anuncio-en-facebook-mbsocialweb.png' %}"
                         alt=""></div>
                  <h5 class="title-ads center-align rubik">Secuencia</h5>
                </div>

                <div class="item-content-ads">
                  <p class="uppercase f-bold mb-1">¿Cuándo te conviene usar los anuncios
                    por secuencia?</p>
                  <p><i class="tiny material-icons">stop</i>Cuando quieres exhibir varios
                    productos.</p>
                  <p><i class="tiny material-icons">stop</i>Cuando quieres destacar las
                    características de un
                    producto.</p>
                  <p><i class="tiny material-icons">stop</i>Cuando quieres que las
                    personas interactúen de
                    forma activa.</p>
                </div>
              </div>

              <div class="item--ads">
                <div class="item-header-ads">
                  <div><img
                         src="{% static 'core/img/marketingDigital/video-facebook-anuncio-marketing-digital.png' %}"
                         alt=""></div>
                  <h5 class="title-ads center-align rubik">Video</h5>
                </div>

                <div class="item-content-ads">
                  <p>Capta la atención de tu audiencia con videos de reproducción
                    automática.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- Twitter -->
        <li>
          <div class="collapsible-header">
            <i class="fab fa-twitter-square text-gradient-purple"></i>
            <span class="text-gradient-4">Twitter Ads</span>
            <i class="material-icons text-cyan">add</i>
          </div>

          <div class="collapsible-body">
            <p>
              Con campañas publicitarias en Twitter Ads, conseguirás que tus Tweets y tu
              cuenta, sean visibles para un mayor número de personas interesadas en tu
              negocio y podrás conseguir los objetivos deseados como pueden ser, promover
              Tweets, aumentar el tráfico en tu sitio web y atraer nuevos seguidores para
              tu cuenta.
            </p>
            <p class="mb-2">
              <span class="text-gradient">Principales formatos</span>
            </p>

            <div class="ads-grid">
              <div class="item--ads">
                <div class="item-header-ads">
                  <div><img
                         src="{% static 'core/img/marketingDigital/imagen-anuncio-en-facebook-mbsocialweb-marketing-digital.png' %}"
                         alt=""></div>
                  <h5 class="title-ads center-align rubik">Tweets promocionados</h5>
                </div>

                <div class="item-content-ads">
                  <p class="uppercase f-bold mb-1">¿Cuándo te conviene usar Tweets
                    promocionados?</p>
                  <p class="mb-1">
                    <i class="tiny material-icons">stop</i>Si buscas aumentar el alcance
                    de tu negocio, y al mismo tiempo, ganar notoriedad en su sector.
                  </p>
                  <p>
                    Los tweets promocionados tienen una apariencia prácticamente
                    idéntica a la de los tweets normales, con la única diferencia de que
                    en la parte inferior, se especifica que se trata de un tweet
                    promocionado.
                  </p>
                </div>
              </div>

              <div class="item--ads">
                <div class="item-header-ads">
                  <div><img
                         src="{% static 'core/img/marketingDigital/secuencia-anuncio-en-facebook-mbsocialweb.png' %}"
                         alt=""></div>
                  <h5 class="title-ads center-align rubik">Cuentas promocionadas</h5>
                </div>

                <div class="item-content-ads">
                  <p class="uppercase f-bold mb-1">¿Cuándo te conviene usar este tipo de
                    campaña?</p>
                  <p class="mb-1">
                    <i class="tiny material-icons">stop</i>Si tus objetivos en Twitter
                    están más relacionados con aumentar tu número de seguidores, y
                    conformar así una comunidad más grande, lo mejor que puedes
                    hacer es promocionar tu cuenta.
                  </p>
                  <p>
                    El objetivo no es otro que, conseguir que el máximo número de
                    personas, hagan clic en el botón de ‘Seguir’.
                  </p>
                </div>
              </div>

              <div class="item--ads">
                <div class="item-header-ads">
                  <div><img
                         src="{% static 'core/img/marketingDigital/video-facebook-anuncio-marketing-digital.png' %}"
                         alt=""></div>
                  <h5 class="title-ads center-align rubik">Tendencias</h5>
                </div>

                <div class="item-content-ads">
                  <p class="uppercase f-bold mb-1">¿Cuándo te conviene usar Tendencias
                    promocionadas?</p>
                  <p class="mb-1">
                    <i class="tiny material-icons">stop</i>Cuando la principal finalidad es obtener un importante alcance.
                  </p>
                  <p>
                    Este tipo de anuncio de Twitter Ads facilita la posibilidad de que
                    una marca, un producto o un servicio se convierta en Trending Topic,
                    siendo visible para todos los usuarios de Twitter de un
                    determinado país o región.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- Instagram -->
        <li>
          <div class="collapsible-header">
            <i class="fab fa-instagram text-gradient-purple"></i>
            <span class="text-gradient-4">Instagram Ads</span>
            <i class="material-icons text-cyan">add</i>
          </div>

          <div class="collapsible-body">
            <p>
              Facebook e Instagram son las mayores plataformas sociales para conectar con
              tu público. Los
              anuncios en Facebook e Instagram aparecen en la sección de noticias
              mezclados con el contenido
              que ve el usuario y que publican sus amigos.
              Anunciarse en Facebook e Instagram es la forma más efectiva para conectar
              con tu audiencia de
              una
              manera visual.
            </p>
            <p class="mb-2"><span class="text-gradient">Principales
                formatos</span></p>

            <div class="ads-grid">
              <div class="item--ads">
                <div class="item-header-ads">
                  <div><img
                         src="{% static 'core/img/marketingDigital/imagen-anuncio-en-facebook-mbsocialweb-marketing-digital.png' %}"
                         alt=""></div>
                  <h5 class="title-ads center-align rubik">Foto</h5>
                </div>

                <div class="item-content-ads">
                  <p class="uppercase f-bold mb-1">¿Cuándo te conviene usar este formato?
                  </p>
                  <p class="mb-1"><i class="tiny material-icons">stop</i>
                    Si quieres contar tu historia en un espacio creativo, sencillo y
                    atractivo.
                  </p>
                  <p>
                    Admite tanto el
                    formato cuadrado como el
                    horizontal. Es el tipo de anuncio más básico, pero si cuentas con las
                    imágenes adecuadas,
                    puedes conseguir un
                    gran impacto.
                  </p>
                </div>
              </div>

              <div class="item--ads">
                <div class="item-header-ads">
                  <div><img
                         src="{% static 'core/img/marketingDigital/secuencia-anuncio-en-facebook-mbsocialweb.png' %}"
                         alt=""></div>
                  <h5 class="title-ads center-align rubik">Secuencia</h5>
                </div>
                <div class="item-content-ads">
                  <p class="uppercase f-bold mb-1">¿Cuándo te conviene usar este tipo de
                    formato?</p>
                  <p class="mb-1"><i class="tiny material-icons">stop</i>Este formato de
                    anuncio incluye un
                    pequeño elemento de
                    interactividad, ya que los usuarios pueden deslizar el dedo para ver
                    varias fotos y
                    vídeos. De esta manera,
                    conseguirás ilustrar más a fondo tu mensaje y retener su atención
                    durante más tiempo.</p>
                </div>
              </div>

              <div class="item--ads">
                <div class="item-header-ads">
                  <div><img
                         src="{% static 'core/img/marketingDigital/video-facebook-anuncio-marketing-digital.png' %}"
                         alt=""></div>
                  <h5 class="title-ads center-align rubik">video</h5>
                </div>

                <div class="item-content-ads">
                  <p class="uppercase f-bold mb-1">¿Cuándo te conviene usar este formato?
                  </p>
                  <p class="mb-1"><i class="tiny material-icons">stop</i>
                    Ofrecen una experiencia visual envolvente similar a los anuncios con
                    foto, pero además le
                    añaden movimiento y
                    sonido. Tienes hasta 60 segundos para presentar a tu marca.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
{% endblock %}

{% block svg %}
<svg width="0" height="0">
  <defs>
    <linearGradient id="orange-to-purple" x1="1" x2="0" y1="1" y2="0">
      <stop offset="20%" stop-color="#f06024"></stop>
      <stop offset="70%" stop-color="#de235c"></stop>
    </linearGradient>
  </defs>
</svg>
{% endblock %}

{% block javascript %}$('.collapsible').collapsible();{% endblock javascript %}
