{% extends "core/base.html" %}
{% load static %}

{% block title %}Nosotros | mbSocialWeb{% endblock %}
{% block description %}mbSocialWeb es un pequeño estudio de diseño y desarrollo web a medida, social media y marketing online.{% endblock %}

<!-- Metadatos para Facebook -->
{% block facebookimage %}/static/core/img/nosotros/mbsocialweb-redes-sociales.png{% endblock %}
{% block facebooktitle %}Nosotros | mbSocialWeb{% endblock %}
{% block facebookdescription %}mbSocialWeb es un pequeño estudio de diseño y desarrollo web a medida, social media y marketing online.{% endblock %}

<!-- Metadatos para Twitter -->
{% block twitterimage %}/static/core/img/nosotros/mbsocialweb-redes-sociales.png{% endblock %}
{% block twittertitle %}Nosotros | mbSocialWeb{% endblock %}
{% block twitterdescription %}mbSocialWeb es un pequeño estudio de diseño y desarrollo web a medida, social media y marketing online.{% endblock %}

{% block csspage %}<link rel="stylesheet" href="{% static 'core/css/nosotros.css' %}">{% endblock %}
{% block recaptcha %}<script src="https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}"></script>{% endblock recaptcha %}

{% block grecaptcha %}
  <script>
    //global grecaptcha
    grecaptcha.ready(function() {
      grecaptcha.execute('{{recaptcha_site_key}}', {action: "/us/"}).then(function(token) {
        document.getElementById('g-recaptcha-response2').value = token;
      });
    });
  </script>{% endblock grecaptcha%}

{% block content %}
  <div class="cabecera box-with-bottom-radius about-us">
    <header class="page-header header-about-us">
      <h1>Nosotros</h1>
      <h2>Nuestra pasión es hacer las cosas bien, con profesionalidad y calidad.</h2>
      <div class="page-intro">
      </div>
    </header>
  </div>
  <div class="box-with-gradient-purple">
    <div class="box-gradient-content page-header">
      <h2>
        Innovación y originalidad en webs diferentes y creativas.
      </h2>
    </div>
  </div>

  <!-- Llamada a la acción -->
  <p class="center-align pt-2 mt-4">
    <a data-target="modal1" class="button-mb modal-trigger">Solicita Presupuesto</a>
  </p>

  <!-- CONTENIDO PRINCIPAL -->
  <main>
    <section class="section pt-2 mt-4">
      <div class="about-us-grid">
        <!-- Item-1 -->
        <div class="item--about-us">
          <div class="item--about-us-content">
            <p>
              En <span class="text-mark">mbSocialWeb</span>, somos un equipo de expertos en <span class="text-mark">redes
                sociales, marketing, diseño gráfico y desarrollo web.</span>
              Nuestra misión es impulsar tu negocio y facilitarte el acceso al mundo digital. Nuestro compromiso es
              materializar tus ideas y crear un espacio único para tu empresa, con un servicio profesional y
              personalizado.
            </p>
            <p>
              Te ayudamos a aumentar tu visibilidad y a captar más clientes. Trabajamos con pasión y entrega para cada
              proyecto, sin importar el tamaño o el sector de tu negocio.
            </p>
          </div>
        </div>
        <!-- Item-2 -->
        <div class="item--about-us">
          <div class="item--about-us-content">
            <p>
              Creemos que los valores como la honestidad, la autocrítica, la disciplina, la integridad y el intelecto
              son esenciales para afrontar los retos y lograr la excelencia. Te ofrecemos una atención rápida y directa,
              adaptada a tus necesidades, también puedes seguirnos en nuestras redes sociales, donde compartimos
              contenidos de interés, consejos, novedades y promociones.
            </p>
            <p>
              Creemos que cultivar y poner en práctica valores como la <span
                    class="text-mark">honestidad</span>, la <span class="text-mark">autocrítica</span>, la
              <span class="text-mark">disciplina</span>, la <span class="text-mark">integridad</span> y el
              <span class="text-mark">intelecto</span> es
            </p>
          </div>
        </div>
        <!-- Item-3 -->
        <div class="item--about-us">
          <p>necesario para afrontar retos y concluirlos con excelencia.</p>
          <p>
            Ofrecemos un trato personalizado atendiento y dando una respuesta rápida y directa a tus
            necesidades.
          </p>
          <p>
            En <span class="text-mark">mbSocialWeb</span>, nos encanta lo que hacemos y queremos compartirlo contigo.
            Queremos ser tu aliado en el mundo digital y ayudarte a alcanzar tus objetivos. No dudes en contactarnos si
            tienes alguna consulta o quieres solicitar un presupuesto. Estaremos encantados de atenderte y de ofrecerte
            la mejor solución para tu negocio. ¡Te esperamos!
          </p>
        </div>
      </div>

      <!-- UN POCO DE HISTORIA -->
      <div class="history">
        <header>
          <h2>historia</h2>
        </header>
      </div>
      <div class="history-grid">
        <!-- Item-1 -->
        <div class="item--history-grid">
          <p>
            Mi nombre es Manuel y soy el fundador de <span class="text-mark">mbSocialWeb</span>, una empresa dedicada
            al desarrollo web y al marketing digital. Mi pasión por la programación nació cuando era un niño y tuve mi
            primer contacto con un ordenador: un Commodore PC de 512 kilobytes y tarjeta Hércules, que en aquellos
            tiempos era una maravilla tecnológica.
          </p>
          <p>
            Desde entonces, me dediqué a aprender por mi cuenta todo lo que podía sobre el mundo de la informática, que
            ha cambiado mucho desde que yo empecé. A los 14 años, internet aún no existía y los programas se hacían
            con lenguajes muy diferentes a los actuales.
          </p>
        </div>
        <!-- Item-2 -->
        <div class="item--history-grid">
          <p>
            Más tarde, decidí estudiar Informática en la Universidad de Málaga, donde amplié mis conocimientos y adquirí
            una base sólida para mi carrera profesional. Sin embargo, siempre tuve el sueño de crear mi propio proyecto,
            algo que me llenara y me permitiera hacer lo que más me gusta. Así que en 2018, después de mucho pensarlo,
            me lancé a la aventura y fundé <span class="text-mark">mbSocialWeb</span>.
          </p>
          <p>
            Ahora tengo la suerte de contar con un equipo de profesionales que comparten mi visión y mi ilusión por
            este proyecto. Juntos, trabajamos cada día para ofrecer a nuestros clientes soluciones web de calidad,
            innovadoras y adaptadas a sus necesidades. ¡Estamos muy orgullosos de lo que hacemos!
          </p>
        </div>
        <!-- Item-3 -->
        <!--
        <div class="item--history-grid">
          <p>
          </p>
          <p>
          </p>
        </div>
        -->
      </div>

      <!-- EL EQUIPO -->
      <div class="team-a">
        <header><h2>equipo</h2></header>
      </div>
      <div class="team-grid">
        <!-- Item-1 -->
        <div class="half-circle-img">
          <div class="wrapp-circle">
            <img src="{% static 'core/img/nosotros/manuel-mbsocialweb-malaga.png' %}" alt="Manuel
            MBsocialweb Málaga">
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
          </div>
          <div class="wrapp-content-circle">
            <ul class="presentation">
              <li>
                <h3><span class="text-gradient-2">Manuel</span></h3>
                <h4>Diseño y Desarrollo Web</h4>
              </li>
              <li>
                <p>
                  <span class="text-gradient-yellow-green">Colores:</span>
                  <span>Azul, Verde, Rojo</span>
                </p>
              </li>
              <li>
                <p>
                  <span class="text-gradient-yellow-green">Comida:</span>
                  <span>Cualquiera que lleve picante</span>
                </p>
              </li>
              <li>
                <hr class="thick">
              </li>
              <li>
                <p>
                  Friki del Universo Marvel, en su tiempo libre se dedica al diseño y desarollo de páginas
                  webs.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <!-- Item-2 -->
        <div class="half-circle-img">
          <div class="wrapp-circle">
            <img src="{% static 'core/img/nosotros/currito-mbsocialweb-diseno-grafico-malaga.jpg' %}"
                 alt="Currito mbsocialweb Diseño Gráfico Málaga">
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
          </div>
          <div class="wrapp-content-circle">
            <ul class="presentation">
              <li>
                <h3><span class="text-gradient-2">Currito</span></h3>
                <h4>Mascota del equipo</h4>
              </li>
              <li>
                <p>
                  <span class="text-gradient-yellow-green">Comida:</span>
                  <span>Paté para gatunos</span>
                </p>
              </li>
              <li>
                <p>
                  <span class="text-gradient-yellow-green">Aficiones:</span>
                  <span>Comer y dormir</span>
                </p>
              </li>
              <li>
                <hr class="thick">
              </li>
              <li>
                <p>
                  Siempre atento a los gatunos del barrio desde su puesto de control, la terraza. Devorador
                  incansable de paté.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <!-- Item-3 -->
        <div class="half-circle-img">
          <div class="wrapp-circle">
            <img src="{% static 'core/img/nosotros/ana-mbsocialweb-diseno-grafico-malaga.png' %}"
                 alt="Manuel MBsocialweb Málaga">
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
          </div>
          <div class="wrapp-content-circle">
            <ul class="presentation">
              <li>
                <h3><span class="text-gradient-2">Ana</span></h3>
                <h4>Marketing digital y ventas</h4>
              </li>
              <li>
                <p>
                  <span class="text-gradient-yellow-green">Colores:</span>
                  <span>Azul</span>
                </p>
              </li>
              <li>
                <p>
                  <span class="text-gradient-yellow-green">Comida:</span>
                  <span>Cualquiera que sea asiática</span>
                </p>
              </li>
              <li>
                <hr class="thick">
              </li>
              <li>
                <p>
                  Friki del mundo japo, su sueño es aprender a tocar el piano y hablar japonés - coreano.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- FIN CONTENIDO PRINCIPAL -->
{% endblock %}

{% block svg %}
  <svg width="0" height="0">
    <defs>
      <linearGradient id="orange-to-purple" x1="1" x2="0" y1="1" y2="0">
        <stop offset="20%" stop-color="#FF7200"></stop>
        <stop offset="70%" stop-color="#B362FF"></stop>
      </linearGradient>
    </defs>
  </svg>

  <svg width="0" height="0">
    <defs>
      <linearGradient id="multicolor" x1="1" x2="0" y1="1" y2="0">
        <stop offset="20%" stop-color="#ff5959"></stop>
        <stop offset="35%" stop-color="#29d0be"></stop>
        <stop offset="50%" stop-color="#e1f549"></stop>
        <stop offset="70%" stop-color="#6cb8ea"></stop>
      </linearGradient>
    </defs>
  </svg>
{% endblock %}
