{% extends "core/base.html" %}
{% load static %}

{% block title %}Dominios y Alojamiento Web | mbSocialWeb{% endblock %}
{% block description %}Un web hosting ofrece ese espacio para alojar tus páginas web y que puedan estar disponibles las 24h del día.{% endblock %}

<!-- Metadatos para Facebook -->
{% block facebookimage %}/static/core/img/disenoWeb/web-hosting-diseno-web-a-medida-en-malaga-mbsocialweb.jpg{% endblock %}
{% block facebooktitle %}Dominios y Alojamiento Web | mbSocialWeb{% endblock %}
{% block facebookdescription %}Un web hosting ofrece ese espacio para alojar tus páginas web y que puedan estar disponibles las 24h del día.{% endblock %}

<!-- Metadatos para Twitter -->
{% block twitterimage %}/static/core/img/disenoWeb/web-hosting-diseno-web-a-medida-en-malaga-mbsocialweb.jpg{% endblock %}
{% block twittertitle %}Dominios y Alojamiento Web | mbSocialWeb{% endblock %}
{% block twitterdescription %}Un web hosting ofrece ese espacio para alojar tus páginas web y que puedan estar disponibles las 24h del día.{% endblock %}

{% block csspage %}<link rel="stylesheet" href="{% static 'core/css/diseno-web.css' %}">{% endblock %}
{% block recaptcha %}<script src="https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}"></script>{% endblock recaptcha %}

{% block grecaptcha %}
  <script>
    //global grecaptcha
    grecaptcha.ready(function() {
      grecaptcha.execute('{{recaptcha_site_key}}', {action: "/hosting/"}).then(function(token) {
        document.getElementById('g-recaptcha-response2').value = token;
      });
    });
  </script>{% endblock grecaptcha%}

{% block content %}
<div class="cabecera box-with-bottom-radius hosting-web">
  <header class="page-header">
    <h1>Dominios y Alojamiento Web</h1>

    <p>
      <span class="text-gradient-3 f-bold">
        Dominio:</span> Es el nombre único que identifica a tu página web en Internet. Por ejemplo, google.com o bing.com. Es
        importante elegir un dominio que sea fácil de recordar, que coincida con el propósito de tu web y que tenga una
        terminación adecuada. Un buen nombre de dominio marca la diferencia.
    </p>

    <p>
      <span class="text-gradient-3 f-bold">Alojamiento web o hosting</span> Es el servicio que te proporciona un espacio
      en un servidor donde guardar los archivos y el código de tu página web. El alojamiento web determina la velocidad,
      la seguridad y la disponibilidad de tu web. Hay distintos tipos de alojamiento web según tus necesidades y
      presupuesto.
    </p>
    <p>
      Un <span class="text-gradient-3 f-bold">web hosting</span> ofrece ese espacio para alojar tus páginas web y que
      puedan estar disponibles las 24h del día y desde cualquier parte del mundo.
    </p>
    <p>
      Nosotros gestionaremos toda la contratación pero siempre en tu nombre además de toda la configuración.
    </p>
  </header>
</div>

<div class="box-with-gradient-purple">
  <div class="box-gradient-content page-header">
    <h2>Nos gusta crear páginas diferentes, Webs originales y únicas, que desarrollen ideas innovadoras.</h2>
  </div>
</div>

<!-- Llamada a la acción -->
<p class="center-align pt-2 mt-4">
  <a data-target="modal1" class="button-mb modal-trigger">Solicita Presupuesto</a>
</p>

<main>
  <!-- CONTENIDO PRINCIPAL -->
  <section class="web-hosting section">

    <div class="characteristics-of-our-suppliers">
      <div class="item--characteristics">
        <header class="item--characteristics-content">
          <h2 class="text-gradient-purple">Certificados SSL</h2>
          <p>
            Un certificado SSL es un certificado digital que autentica la identidad de un sitio web y habilita una
            conexión cifrada. La sigla SSL significa Secure Sockets Layer (Capa de sockets seguros), un protocolo de
            seguridad que crea un enlace cifrado entre un servidor web y un navegador web.
          </p>
          <p>
            Las empresas y las organizaciones deben agregar certificados SSL a sus sitios web para proteger las
            transacciones en línea y mantener la privacidad y seguridad de la información del cliente.
          </p>
          <p>
            El certificado SSL mantiene seguras las conexiones a Internet y evita que los delincuentes lean o
            modifiquen la información transferida entre dos sistemas. Cuando veas un ícono de candado junto a la URL en
            la barra de direcciones, significa que hay un certificado SSL que protege el sitio web que estás visitando.
          </p>
          <p>
             Tener un certificado SSL en tu sitio web es importante porque ayuda a proteger la información confidencial
             de tus clientes y brinda una imagen de seguridad y confianza a quienes visitan tu sitio web. Además, muchos
             navegadores marcan los sitios web sin certificados SSL como “no seguros”, lo que puede afectar
             negativamente la percepción de los visitantes sobre tu sitio web. Por lo tanto, es importante tener un
             certificado SSL para garantizar la seguridad y la confianza en tu sitio web.
          </p>
        </header>
      </div>
      <div class="item--characteristics">
        <figure>
          <img src="{% static 'core/img/disenoWeb/ssl.webp' %}" alt="certificado ssl">
        </figure>
      </div>
    </div>

    <div class="web-hosting-grid">
      <div class="item--web-hosting">
        <header class="item--web-hosting-content">
          <h2 class="text-gradient-purple">Certificados SSL</h2>
          <p>
            SSL (Secure Socket Layer) brinda seguridad al visitante de tu página web al garantizarles que el sitio es
            auténtico, real y confiable para ingresar datos personales.
          </p>
        </header>
      </div>

      <div class="item--web-hosting">
        <header class="item--web-hosting-content">
          <h2 class="text-gradient-purple">Servidores Fiables</h2>
          <p>
            Nuestros proveedores de hospedaje son los mejores del mercado y del más alto rendimiento para ayudarte a
            tener éxito.
          </p>
        </header>
      </div>

      <div class="item--web-hosting">
        <header class="item--web-hosting-content">
          <h2 class="text-gradient-purple">Registro de Dominio</h2>
          <p>
            El primer paso para introducir tu negocio en el mundo de Internet es el registro de nombre de dominio. Al
            hacerlo no solo estás protegiendo tu marca, también otorgas una imagen profesional a tu empresa.
          </p>
        </header>
      </div>
    </div>
  </section>
  <!-- FIN CONTENIDO PRINCIPAL -->
</main>
{% endblock %}

{% block svg %}
<svg width="0" height="0">
  <defs>
    <linearGradient id="yellow-to-purple" x1="1" x2="0" y1="1" y2="0">
      <stop offset="20%" stop-color="#FF7200" />
      <stop offset="70%" stop-color="#B362FF" />
    </linearGradient>
  </defs>
</svg>
{% endblock %}
